<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunzhongyang.sjd.androidmail">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/radar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity android:name=".RegisterAccountName" />
        <activity android:name=".RegisterAccountPassword" />
        <activity android:name=".MainPage" />
        <activity android:name=".Search" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".WriteMail" />
        <activity android:name=".ContactInfomationActivity" />
        <activity android:name=".MailInformationActivity" />

        <service
            android:name=".GetMailService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".StaticReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sunzhongyang.sjd.AndroidMail.staticcreceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".RefreshRateActivity" />
        <activity android:name=".MailInformActivity" />
        <activity android:name=".ResetPasswordActivity"></activity>
    </application>

</manifest>